.footer{
    width: 100%;
  height: auto;
  background-color: #251d58;
  color: #fff;
  padding: 30px 20px;
  font-size: 18px;
  text-align: justify;
}

.footerLink li{
    padding-top: 7px;
    list-style: none;
}
